<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

<div class="dashboard">




  <!-- Main Content -->
  <div class="flex-grow-1">
    <div class="flex-grow-1">
      <div class="loan-heading-section">
        <h1>
          <span class="orange">LIQUILOAN CLIENT </span>
          <span class="navy">DETAILS</span>
        </h1>
      </div>
    </div>

    <!--1c-->

    <div class="modern-section container" style="margin-block-start:40px;margin-block-end:40px;">
      <h6>BASIC INFORMATION</h6>
      <br />
      <form *ngIf="account">
        <!--1-->
        <div class="row g-5" *ngIf="account">
          <div class="col-md-3">

            <div class="info-item">
              <span class="info-label">Client Name:</span>
              <span class="info-value">{{ account.name }}</span>
            </div>

          </div>

          <div class="form-col">

            <div class="info-item">
              <span class="info-label">pan:</span>
              <span class="info-value">{{ account.pan }}</span>
            </div>

          </div>

          <div class="form-col">


            <div class="info-item">
              <span class="info-label">Date Of Birth:</span>
              <span class="info-value">{{ account.dob | date:'dd/MM/yyyy'}}</span>
            </div>


          </div>


          <div class="form-col">


            <div class="info-item">
              <span class="info-label">Gender:</span>
              <span class="info-value">{{ account.gender }}</span>
            </div>


          </div>


        </div>

        <br />

        <!--2-->
        <div class="row g-4" *ngIf="account">
          <div class="col-md-3">

            <div class="info-item">
              <span class="info-label">Email:</span>
              <span class="info-value">{{ account.email }}</span>
            </div>

          </div>



          <div class="form-col">

            <div class="info-item">
              <span class="info-label">Mobile No.:</span>
              <span class="info-value">{{ account.mobile }}</span>
            </div>

          </div>


          <div class="form-col">

            <div class="info-item">
              <span class="info-label">Aadhaar Number:</span>
              <span class="info-value">{{ account.aadhar }}</span>
            </div>

          </div>

          <div class="form-col">
            <label>Ckyc No.:</label>
            <label><b></b></label>

          </div>
        </div>
        <br />
        <br />
      </form>
    </div>

    <!--2c-->

    <div class="modern-section container" style="margin-block-start:40px;margin-block-end:40px;">
      <h6>ADDRESS INFORMATION</h6>
      <br />
      <form>
        <!--1-->
        <div class="row g-4" *ngIf="account">
          <div class="col-md-3">
            <div class="info-item">
              <span class="info-label">Address Line1:</span>
              <span class="info-value">{{ account.permanentAddress }}</span>
            </div>
          </div>

          <div class="form-col">

            <div class="info-item">
              <span class="info-label">State:</span>
              <span class="info-value">{{ account.stateName }}</span>
            </div>

          </div>

          <div class="form-col">

            <div class="info-item">
              <span class="info-label">City:</span>
              <span class="info-value">{{ account.cityName }}</span>
            </div>

          </div>


          <div class="form-col">

            <div class="info-item">
              <span class="info-label">Pincode:</span>
              <span class="info-value">{{ account.pincode }}</span>
            </div>

          </div>


        </div>

        <br />
      </form>
    </div>

    <!--3c-->

    <div class="modern-section container" style="margin-block-start:40px;margin-block-end:40px;">
      <h6>BANK DETAILS</h6>
      <br />
      <form>
        <!--1-->
        <div class="row g-4" *ngIf="account">
          <div class="col-md-3">

            <div class="info-item">
              <span class="info-label"> Account Name:</span>
              <span class="info-value">{{ account.name }}</span>
            </div>

          </div>

          <div class="form-col">

            <div class="info-item">
              <span class="info-label">Account Number:</span>
              <span class="info-value">{{ account.accountNumber }}</span>
            </div>

          </div>

          <div class="form-col">

            <div class="info-item">
              <span class="info-label">Bank Name:</span>
              <span class="info-value">{{ account.bankName }}</span>
            </div>

          </div>


          <div class="form-col">

            <div class="info-item">
              <span class="info-label">Branch:</span>
              <span class="info-value">{{ account.branchName }}</span>
            </div>

          </div>

          <div class="form-col">

            <div class="info-item">
              <span class="info-label">IFSC:</span>
              <span class="info-value">{{ account.ifscCode }}</span>
            </div>

          </div>


        </div>

        <br />
      </form>
    </div>



  </div>

</div>
