<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

<div class="dashboard">


 
  <!-- Custom Alert -->
  <div *ngIf="showAlert" class="custom-alert-overlay">
    <div class="custom-alert-box" [ngClass]="alertType">
      <p>{{ alertMessage }}</p>
      <button class="btn-close-alert" (click)="showAlert = false">OK</button>
    </div>
  </div>




  <!-- Main Content -->
  <div class="flex-grow-1">
    <div class="flex-grow-1">
      <div class="loan-heading-section">
        <h1>
          <span class="orange">LIQUILOAN</span>
          <span class="navy">DETAILS</span>
        </h1>
      </div>
    </div>


    <div class="classdiv text-left">

      <span style="margin-right:15%;margin-left:5%">Client Name</span> <span style="margin-left:15%">Investor ID</span>

      <br />
      <div class="custom-underline"></div>
      <br /><br />
      <form>
        <span>Payment Type</span>
        <div class="payment-options">

          <label class="payment-card">
            <input type="radio"
                   name="payment"
                   value="gateway"
                   [(ngModel)]="selectedPayment">
            <div class="card-content">
              <i class="bi bi-credit-card-2-front"></i>
              <span>Payment Gateway<br><small>Net Banking / UPI</small></span>
            </div>
          </label>

          <label class="payment-card">
            <input type="radio"
                   name="payment"
                   value="neft"
                   [(ngModel)]="selectedPayment">
            <div class="card-content">
              <i class="bi bi-bank"></i>
              <span>Bank Transfer<br><small>NEFT / RTGS / IMPS</small></span>
            </div>
          </label>

        </div>

      </form>


      <!-- Gateway Container -->
      <!-- ================= PAYMENT GATEWAY SECTION ================= -->

      <div *ngIf="selectedPayment === 'gateway'"
           class="mt-4 p-4 border rounded bg-white shadow-sm">

        <form>
          <div class="form-row">

            <!-- Payout Type -->
            <div class="form-col">
              <label>Payout Type:</label>
              <div class="custom-dropdown" (click)="toggleDropdown('payout', $event)">
                <div class="dropdown-selected">
                  {{ payoutType || 'Select Payout Mode' }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="activeDropdown === 'payout'">
                  <div class="dropdown-item" (click)="selectPayoutType('Cumulative', $event)">Cumulative</div>
                  <div class="dropdown-item" (click)="selectPayoutType('Monthly', $event)">Monthly</div>
                  <div class="dropdown-item" (click)="selectPayoutType('Quarterly', $event)">Quarterly</div>
                </div>
              </div>
            </div>


            <!-- Option Dropdown -->
            <!-- Database Options Dropdown -->
            <div class="form-col">
              <label>Option:</label>
              <div class="custom-dropdown" (click)="toggleDropdown('option', $event)">
                <div class="dropdown-selected">
                  {{ getSelectedText() || 'Select Option' }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="activeDropdown === 'option'">
                  <div class="dropdown-item" *ngFor="let opt of options" (click)="selectOption(opt, $event)">
                    {{ opt.typeText }}
                  </div>
                </div>
              </div>
            </div>
            <!--MHP-->

            <div class="form-col">
              <label>MHP (Minimum Holding Period):</label>
              <div class="custom-dropdown" (click)="toggleMhpDropdown($event)">
                <div class="dropdown-selected">
                  {{selectedMhp || '--Select MHP--' }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="mhpDropdownOpen">
                  <div class="dropdown-item" (click)="selectMhp('3 Months', $event)">3 Months</div>
                  <div class="dropdown-item" (click)="selectMhp('6 Months', $event)">6 Months</div>
                  <div class="dropdown-item" (click)="selectMhp('12 Months', $event)">12 Months</div>
                </div>
              </div>
            </div>

            <!-- Amount -->
            <div class="form-col">
              <label>Amount:</label>
              <input type="text"
                     inputmode="numeric"
                     class="form-control"
                     [(ngModel)]="investmentAmount"
                     name="investmentAmount"
                     placeholder="Enter amount">
            </div>

          </div>
        </form>
      </div>


      <!-- NEFT Container -->
      <div *ngIf="selectedPayment === 'neft'"
           class="mt-4 p-4 border rounded bg-white shadow-sm">

        <form>
          <div class="form-row" *ngIf="account">
            <div class="form-col">
              <label>IFSC Code:</label>
              <span class="info-value">{{ account.ifscCode }}</span>
            </div>

            <div class="form-col">
              <label>Option:</label>
            </div>

            <div class="form-col">
              <label>Account Number:</label>
              <span class="info-value">{{ account.accountNumber }}</span>
            </div>


            <div class="form-col">
              <label>Beneficiary Name</label>
              <span class="info-value">{{ account.name }}</span>
            </div>
          </div>

        </form>

        <form>
          <div class="form-row">
            <!-- Payout Type -->
            <div class="form-col">
              <label>Payout Type:</label>
              <div class="custom-dropdown" (click)="toggleDropdown('payout', $event)">
                <div class="dropdown-selected">
                  {{ payoutType || 'Select Payout Mode' }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="activeDropdown === 'payout'">
                  <div class="dropdown-item" (click)="selectPayoutType('Cumulative', $event)">Cumulative</div>
                  <div class="dropdown-item" (click)="selectPayoutType('Monthly', $event)">Monthly</div>
                  <div class="dropdown-item" (click)="selectPayoutType('Quarterly', $event)">Quarterly</div>
                </div>
              </div>
            </div>


            <!-- Database Options Dropdown -->
            <div class="form-col">
              <label>Option:</label>
              <div class="custom-dropdown" (click)="toggleDropdown('option', $event)">
                <div class="dropdown-selected">
                  {{ getSelectedText() || 'Select Option' }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="activeDropdown === 'option'">
                  <div class="dropdown-item" *ngFor="let opt of options" (click)="selectOption(opt, $event)">
                    {{ opt.typeText }}
                  </div>
                </div>
              </div>
            </div>

            <!-- MHP -->
            <div class="form-col">
              <label>MHP (Minimum Holding Period):</label>
              <div class="custom-dropdown" (click)="toggleMhpDropdown($event)">
                <div class="dropdown-selected">
                  {{selectedMhp || '--Select MHP--' }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="mhpDropdownOpen">
                  <div class="dropdown-item" (click)="selectMhp('3 Months', $event)">3 Months</div>
                  <div class="dropdown-item" (click)="selectMhp('6 Months', $event)">6 Months</div>
                  <div class="dropdown-item" (click)="selectMhp('12 Months', $event)">12 Months</div>
                </div>
              </div>
            </div>
            <div class="form-col">
              <label>Amount:</label>
             <input type="number"
                     class="form-control"
                     [(ngModel)]="investmentAmount"
                       name="neftAmount">
            </div>
          </div>
        </form>
        <form>
          <div class="form-row">
            <!-- Payment Mode -->
            <div class="form-col">
              <label>Payment Mode:</label>
              <div class="custom-dropdown" (click)="togglePaymentModeDropdown($event)">
                <div class="dropdown-selected">
                  {{ paymentMode || 'Select Payment Mode'
                  }}
                  <i class="bi bi-chevron-down"></i>
                </div>
                <div class="dropdown-list" *ngIf="paymentModeDropdownOpen">
                  <div class="dropdown-item" (click)="selectPaymentMode('NEFT', $event)">NEFT</div>
                  <div class="dropdown-item" (click)="selectPaymentMode('RTGS', $event)">RTGS</div>
                  <div class="dropdown-item" (click)="selectPaymentMode('IMPS', $event)">IMPS</div>
                </div>
              </div>
            </div>


            <div class="form-col">
              <label>Upload Payment Receipt</label>

              <div class="file-upload" style="position: relative;">
                <input type="file"
                       id="receiptUpload"
                       class="form-control"
                       (change)="onFileSelected($event)">
                <label for="receiptUpload" class="file-label">
                  <div *ngIf="!selectedFile" style="pointer-events:none; color:#6c757d; font-size:14px;">
                    <i class="bi bi-cloud-upload"></i> Choose file
                  </div>

                  <div *ngIf="selectedFile" class="selected-file mt-2 p-2 border rounded d-flex justify-content-between align-items-center" style="background:#f8f9fa; cursor:pointer;">
                    <span (click)="openFile()" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:80%;">
                      {{ selectedFile.name }}
                    </span>
                    <button type="button" class="btn btn-sm btn-outline-danger ms-2" (click)="removeFile()">×</button>
                  </div>

                </label>
              </div>

            </div>


            <div class="form-col" *ngIf="selectedPayment === 'neft'">
              <label>Transaction ID (UTR Number):</label>
              <input type="text"
                     class="form-control"
                     placeholder="Enter UTR Number"
                     [(ngModel)]="utrNumber"
                     name="utrNumber">
            </div>

          </div>
        </form>

      </div>
    </div>


    <div class="flex-grow-1">
      <div class="flex-grow-1">
        <div class="loan-heading-section2">
          <div class="action-buttons">
            <button (click)="goTo()" class="btn-back">Back</button>
            <button (click)="goPay()" class="btn-invest">INVEST</button>
          </div>
        </div>
      </div>


      <div *ngIf="paymentStatus" class="status-full">
        <div class="classdiv text-left">
          <div>
            <!-- Success -->
            <div *ngIf="paymentStatus === 'success'" class="status-box success" routerLink="/dashboard
                 ">
              <div class="status-content">
                <div class="status-icon">
                  <i class="bi bi-check-lg"></i>
                </div>
                <div>
                  <h3>Payment Successful</h3>
                  <p>Your investment has been completed successfully.</p>
                </div>
                <button class="status-btn" routerLink="/dashboard">Go to Dashboard</button>
              </div>
            </div>

            <!-- Failed -->
            <div *ngIf="paymentStatus === 'failed'" class="status-box failed">
              <div class="status-content">
                <div class="status-icon">
                  <i class="bi bi-x-lg"></i>
                </div>
                <div>
                  <h3>Payment Cancelled</h3>
                  <p>Sorry, your payment was cancelled.</p>
                </div>
                <button class="status-btn retry" routerLink="/payment-page">Try Again</button>
              </div>
            </div>
            <form>
              <div class="form-row ">

                <div class="form-col">
                  <label>Transaction Id</label>
                </div>

                <div class="form-col">
                  <label>Amount</label>
                </div>

                <div class="form-col">
                  <label>Status</label>
                </div>

                <div class="form-col">
                  <label>Transaction Time</label>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="classdiv text-left">
        <h5>How To Invest</h5>
        <p>
          The minimum amount for 1st time investment is Rs.10000 and in multiples of Rs.1000<br />
          Minimum amount for additional investment is Rs.5000 and in multiples of Rs.1000<br /><br />
          <i class="bi bi-check-circle-fill"></i> To start investing, Click on Invest Link against the invester in whose name you want to invest.<br />
          <i class="bi bi-check-circle-fill"></i> Select the Payout Option.<br />
          <i class="bi bi-check-circle-fill"></i> Choose the plan - locl-in or Without Lok-in.<br />
          <i class="bi bi-check-circle-fill"></i> Choose the Minimum Holding period for which you want to make the investment.<br />
          <i class="bi bi-check-circle-fill"></i> Enter the amount, Click Invest.<br />
          <i class="bi bi-check-circle-fill"></i> On clicking Invest, you will be redirected to payment gateway page.<br />
          <i class="bi bi-check-circle-fill"></i> You can then transfer funds using Net Banking / UPI .<br />
          <i class="bi bi-check-circle-fill"></i> Once the transaction confirmation is successfull, the amount will start refecting in your portfolio within 24 Businees hours.<br />
        </p>
      </div>

      <div class="classdiv text-left">
        <!-- Social Icons -->
        <div class="social-icons d-flex gap-3">
          <a href="https://www.facebook.com" target="_blank" class="facebook">
            <i class="bi bi-facebook fs-3"></i>
          </a>
          <a href="https://www.twitter.com" target="_blank" class="twitter">
            <i class="bi bi-twitter fs-3"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="linkedin">
            <i class="bi bi-linkedin fs-3"></i>
          </a>
          <a href="https://www.youtube.com" target="_blank" class="youtube">
            <i class="bi bi-youtube fs-3"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank" class="instagram">
            <i class="bi bi-instagram fs-3"></i>
          </a>
          <a>
            |
          </a>

        </div>



      </div>


    </div>
  </div>
</div>
