<html>
<body>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

  <div class="container">
    <form [formGroup]="registrationForm">

      <h1>
        <span style="color:orangered">Individual-</span>
        <span style="color:navy">Personal Details</span>
      </h1>


      <!-- PAN NUMBER + PAN CARD PROOF -->
      <div class="form-row">
        <div class="form-col">
          <label>Pan Number:</label>
          <input type="text" inputmode="numeric" formControlName="pan">
        </div>
        <div class="form-col">
          <label>Pan Card Proof:</label>
          <div class="form-col otp-row">
            <button>Choose File</button>
            <input type="text" placeholder="no file chosen" disabled>
            <button class="confirm">Preview</button>
          </div>
        </div>
      </div>

      <!-- Date of Birth + Aadhar Number -->
      <div class="form-row">
        <div class="form-col">
          <label>Date of Birth:</label>
          <input type="date" formControlName="dob">
        </div>

        <div class="form-col">
          <label>Aadhar Number:</label>
          <input type="text" inputmode="numeric" formControlName="aadhar">
        </div>
      </div>

      <!-- Nationality + Place of Birth -->
      <div class="form-row">
        <div class="form-col">
          <label>Nationality:</label>

          <select class="form-control" formControlName="nationality" (change)="onCountryChange()">
            <option value="">Select Country</option>
            <option *ngFor="let country of countries" [value]="country.countryID">
              {{ country.countryName }}
            </option>
          </select>
        </div>

        <div class="form-col">
          <label>Place of Birth:</label>
          <input type="text"  formControlName="placeOfBirth">
        </div>
      </div>

      <!-- State + Corressponding State -->
      <div class="form-row">
        <div class="form-col">
          <label>State:</label>


          <select class="form-control" formControlName="stateID" (change)="onStateChange()">
            <option value="">Select State</option>
            <option *ngFor="let s of states" [value]="s.stateID">{{ s.stateName }}</option>
          </select>
        </div>


        <div class="form-col">
          <label>Corressponding State:</label>


          <select class="form-control" formControlName="correspondingState" (change)="onCorrespondingStateChange()">
            <option value="">Select State</option>
            <option *ngFor="let s of correspondingStates" [value]="s.stateID">{{ s.stateName }}</option>
          </select>
        </div>
      </div>

      <!-- City + Corressponding City -->
      <div class="form-row">
        <div class="form-col">
          <label>City:</label>

          <select class="form-control" formControlName="cityID">
            <option value="">Select City</option>
            <option *ngFor="let c of cities" [value]="c.cityID">{{ c.cityName }}</option>
          </select>
        </div>


        <div class="form-col">
          <label>Corressponding City:</label>

          <select class="form-control" formControlName="correspondingCity">
            <option value="">Select City</option>
            <option *ngFor="let c of correspondingCities" [value]="c.cityID">{{ c.cityName }}</option>
          </select>
        </div>
      </div>


      <!-- Permanent Address + Corressponding Address -->
      <div class="form-row">
        <div class="form-col">
          <label>Permanent Address:</label>
          <textarea style="width:600px;height:90px" formControlName="permanentAddress"></textarea>
        </div>
        <div class="form-col">
          <label> Corressponding Address:</label>
          <textarea style="width:600px;height:90px" formControlName="correspondingAddress"></textarea>
        </div>
      </div>

      <!-- Permanent Address Proof + Corressponding Address Proof -->
      <div class="form-row">
        <div class="form-col">
          <label>Permanent Address Proof:</label>
          <div class="form-col otp-row">
            <button>Choose File</button>
            <input type="text"  placeholder="No file Chosen">
            <button class="confirm">Preview</button>
          </div>
        </div>
        <div class="form-col">
          <label> Corressponding Address Proof:</label>
          <div class="form-col otp-row">
            <button>Choose File</button>
            <input type="text" placeholder="No file Chosen">
            <button class="confirm">Preview</button>
          </div>
        </div>
      </div>


      <!-- pin Code + Gender -->
      <div class="form-row">
        <div class="form-col">
          <label>pin Code:</label>
          <input type="text" formControlName="pincode">
        </div>

        <div class="form-row">
          <div class="form-col">
            <label>Gender:</label>
            <input type="text" formControlName="gender">
          </div>

        </div>
      </div>
      <!--next button-->
      <div class="form-actions">
        <button type="button" (click)="goNext()" class="next-btn">Next<span><i class="bi bi-caret-right-fill"></i></span></button>
      </div>

    </form>
  </div>
</body>
</html>
