/* Sidebar */
.sidebar {
  flex: 0 0 100px; /* Prevent shrinking, set fixed width */
  background-color: #001f5b;
  color: lightgray;
  min-height: 100vh;
  padding-top: 20px;
}



.sidebar-logo {
  font-size: 1.8rem;
  color: #fff;
}

.sidebar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 10px 0;
  transition: all 0.3s;
}
/* Sidebar dropdown */
.sidebar-dropdown {
  position: relative;
}

/* Hidden dropdown */
.dropdown-menu-custom {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: lightgray;
  border-radius: 6px;
  padding: 10px 0;
  min-width: 160px;
  display: none;
  z-index: 999;
}

  /* Dropdown items */
  .dropdown-menu-custom li {
    list-style: none;
  }

    .dropdown-menu-custom li a {
      display: block;
      padding: 8px 15px;
      color: black;
      text-decoration: none;
      font-size: 14px;
      white-space: nowrap;
    }

      .dropdown-menu-custom li a:hover {
        background-color: #2f2f4f;
      }

/* Show dropdown on hover */
.sidebar-dropdown:hover .dropdown-menu-custom {
  display: block;
}


.dropdown-heading {
  margin: 0;
  padding: 8px 16px;
  font-size: 1.2rem;
  color: black;
}

.dropdown-menu-custom li:not(.dropdown-heading) {
  border-bottom: 1px solid black;
}

.dropdown-menu-custom li:last-child {
  border-bottom: none;
}
/* Main Content */
.classdiv {
  padding: 50px;
}

/* Hero Section */
.hero-section h1 {
  color: navy;
  font-weight: 700;
}

.hero-section h2 {
  color: #001f5b;
  font-weight: bold;
}

#btn {
  padding: 10px 30px;
  background: navy;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

  #btn:hover {
    background: #002a7a;
  }

/* Underline Style */
.underline {
  text-decoration: underline orange solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* How it Works Cards */
.small-card {
  width: 250px;
  height: 300px;
  padding: 25px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

  .small-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
  }

  .small-card i {
    font-size: 2rem;
    color: navy;
    margin-bottom: 10px;
  }

/* Invest Cards */
.invest-card {
  background: white;
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

  .invest-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
  }

  .invest-card h5 {
    color: navy;
  }

