<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

<div class="dashboard">

 


  <!-- Main Content -->
  <div class="flex-grow-1 p-4">

    <h1 class="underline text-center mb-4"><span style="color:orangered;margin-right:3px">Manage</span><span style="color:navy;margin-left:3px">Account</span></h1>

    <!-- Small Navigation Tabs -->
    <div class="manage-nav mb-4 text-center">
      <button class="nav-btn"
              [class.active]="activeTab === 'basic'"
              (click)="activeTab = 'basic'">
        Basic Information
      </button>

      <button class="nav-btn"
              [class.active]="activeTab === 'address'"
              (click)="activeTab = 'address'">
        Address Information
      </button>

      <button class="nav-btn"
              [class.active]="activeTab === 'bank'"
              (click)="activeTab = 'bank'">
        Bank Details
      </button>

      <button class="nav-btn"
              [class.active]="activeTab === 'nominee'"
              (click)="activeTab = 'nominee'">
        Nominee Information
      </button>
    </div>


    <div *ngIf="isLoading" class="text-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Loading account details...</p>
    </div>

    <!-- BASIC INFO TABLE -->
    <div *ngIf="activeTab === 'basic'  && !isLoading  && account" class="modern-card">
      <table class="table table-bordered">
        <tr><th>Full Name</th><td>{{ account.name }}</td></tr>
        <tr><th>Email</th><td>{{ account.email }}</td></tr>
        <tr><th>Mobile</th><td>{{ account.mobile }}</td></tr>
        <tr><th>PAN</th><td>{{ account.pan }}</td></tr>
        <tr><th>Aadhar Number</th><td>{{ account.aadhar }}</td></tr>
        <tr><th>Date Of Birth</th><td>{{ account.dob | date:'dd/MM/yyyy' }}</td></tr>
        <tr><th>Place Of Birth</th><td>{{ account.placeOfBirth }}</td></tr>
        <tr><th>Nationality</th><td>{{ account.nationality }}</td></tr>
        <tr><th>Gender</th><td>{{ account.gender }}</td></tr>
      </table>
    </div>

    <!-- ADDRESS TABLE -->
    <div *ngIf="activeTab === 'address'  && !isLoading   && account" class="modern-card">
      <table class="table table-bordered">
        <tr>
          <th>State</th>
          <td> {{ account.stateName }}</td>
        </tr>
        <tr>
          <th>Corressponding State</th>
          <td> {{ account.correspondingStateName }}</td>
        </tr>
        <tr>
          <th>City</th>
          <td>{{ account.cityName }}</td>
        </tr>
        <tr>
          <th>Corressponding City</th>
          <td>{{ account.correspondingCityName }}</td>
        </tr>
        <tr>
          <th>Permenent Address</th>
          <td>{{ account.permanentAddress }}</td>
        </tr>
        <tr>
          <th>Corressponding Address</th>
          <td>{{ account.correspondingAddress }}</td>
        </tr>
        <tr>
          <th>Pincode</th>
          <td>{{ account.pincode }}</td>
        </tr>
      </table>
    </div>


    <!-- BANK TABLE -->
    <div *ngIf="activeTab === 'bank'  && !isLoading  && account" class="modern-card">
      <table class="table table-bordered">
        <tr><th>Bank Name</th><td>{{ account.bankName }}</td></tr>
        <tr><th>Account Number</th><td>{{ account.accountNumber }}</td></tr>
        <tr><th>Branch Name</th><td>{{ account.branchName }}</td></tr>
        <tr><th>Branch Address</th><td>{{ account.branchAddress }}</td></tr>
        <tr><th>IFSC Code</th><td>{{ account.ifscCode }}</td></tr>
        <tr><th>MICR Code</th><td>{{ account.micrCode }}</td></tr>
      </table>
    </div>


    <!-- NOMINEE TABLE -->
    <div *ngIf="activeTab === 'nominee'  && !isLoading   && account" class="modern-card">
      <table class="table table-bordered">
        <tr>
          <th>Nominee Name</th>
          <td>{{ account.nomineeName }}</td>
        </tr>
        <tr>
          <th>Nominee Relation</th>
          <td>{{ account.nomineeRelation }}</td>
        </tr>
        <tr>
          <th>Date Of Birth(Nominee)</th>
          <td>{{ account.nomineeDob | date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <th>Pan NumberNominee(Nominee)</th>
          <td>{{ account.nomineePan }}</td>
        </tr>
        <tr>
          <th>Guardian Name</th>
          <td></td>
        </tr>
        <tr>
          <th>Guardian Relation</th>
          <td></td>
        </tr>
        <tr>
          <th>Date Of Birth(Guardian)</th>
          <td></td>
        </tr>
        <tr>
          <th>Pan NumberNominee(Guardian)</th>
          <td></td>
        </tr>
      </table>
    </div>

  </div>

</div>
